@font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.eot?27841936');
    src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
        url('../font/symbols-nerds.woff?27841936') format('woff'),
        url('../font/symbols-nerds.ttf?27841936') format('truetype'),
        url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'symbols-nerds';
src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
}
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "symbols-nerds";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

















body{
	background-color: #fff;
	color: #000;
	font-weight: 300;
    font-size: 16px;
	font-family: Roboto, Tahoma, sans-serif;
    line-height: 1.3;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

h1 {
}

h2 {
    font-size: 36px;
    line-height: 1;   
}

h3 {
    font-size: 18px;
    line-height: 1.6;  
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 880px;
    outline: 1px solid green;
}



/*=====     ХЕДЕР И НАВИГАЦИЯ    =====*/

.main-header {
    padding-top: 5px;
    min-width: 920px;
    background-color: #eee; 
}

.logo {
    float: left;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 163px;
    width: 139px;
    height: 56px;
    background: url(../img/logo-nerds.png) no-repeat;
    vertical-align: middle;
    text-indent: 100%;
}

.main-navigation {  
    float: left;
    margin-top: 5px;
}

.main-navigation li{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    float: left;
    padding: 28px 20px 0;
/*    margin-right: 20px;*/
    color: #000;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
}

.main-navigation .active a {
    position: relative;
/*    box-shadow: inset 0 -3px 0 0 #fb565a;*/
/*    border-bottom: 3px solid #fb565a;*/
    
}

.main-navigation .active a:after {
    position: absolute;
    right: 20px;
    bottom: 0px;
    left: 20px;
    height: 3px;
    background: #fb565a;
    content: "";
}



.main-navigation a:hover {
    color: #f87f81;
}

.main-navigation a:active {
    color: #8f8f8f;
}

.cart {
    position: relative;
    float: right;
    margin-top: 5px;
    padding: 30px 1px 5px 40px;
    color: #000;
    list-style: none;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.cart.active:after {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 40px;
    height: 3px;
    background: #fb565a;
    content: "";
}

.cart:hover {
    color: #f87f81;
}

.cart:active {
    color: #8f8f8f;
}

.icon-basket {
    padding-right: 8px;
    color: #bdbdbd;
    font-size: 18px;
}




/*=====     СЛАЙДЕР     =====*/

.slider {
    position: relative;
    overflow: hidden;
}

.slide {
    float: left;
/*    margin-top: 20px;*/
    margin-right: 20px;
    padding-top: 43px;
    width: 880px;
    height: 310px;
}

.slide h2 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
}

.slide p {
    color: #283136;
    font-size: 16px;
    line-height: 22px;
}


.slide-1 h2 {
    width: 260px;
}

.slide-1 p {
    width: 370px;
}

.slide-2 h2 {
    width: 475px;
}

.slide-2 p {
    width: 450px;
}

.slide-3 h2 {
    width: 330px;
}

.slide-3 p {
    width: 480px;
}




.slider .button {
    display: block;
    margin-top: 23px;
    padding: 12px 10px;
    width: 220px;
    border-radius: 3px;
    background: #fb565a;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.slide-pic1,
.slide-pic2,
.slide-pic3 {
    float: left;
    width: 880px;
}

.slide-pic1 {
    background: url(../img/slider1-comp.png) no-repeat 100% 50px;
}

.slide-pic2 {
    background: url(../img/slider2-calc.png) no-repeat 100% 50px;
}

.slide-pic3 {
    background: url(../img/slider3-robot.png) no-repeat 100% 50px;
}

.switcher {
    position: absolute;
    bottom: 85px;
    left: 50%;
    margin-left: -37px;
}

.switcher input {
    display: none;
}

.switcher label {
    display: inline-block;
    margin: 0 3px;
    width: 4px;
    height: 4px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #000;
    background-color: #fff;
    vertical-align: top;
    vertical-align: top;
    cursor: pointer;
}

.switcher input:checked + label {
    background-color: #c1c1c1;
}


.overflow {
    overflow: hidden;
}

.slides {
    width: 2700px;
}




/*=====     ОРДЕРС     =====*/

.orders {
    margin-top: 80px;
    border-bottom: 2px solid #eeeeee; 
}

.orders h3 {
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 15px;
}

.orders p {
    color: #283136;
    font-size: 15px;
    line-height: 22px;
}

.orders-service {
    float:left;
    margin-right: 80px;
    width: 240px;
}

.orders-service:last-child {
    margin-right: 0;
}

.pic-red {
    width: 240px;
    height: 125px;
    background: url(../img/orders-red.png) no-repeat;
}

.pic-green {
    width: 240px;
    height: 125px;
    background: url(../img/orders-green.png) no-repeat;
}

.pic-yellow {
    width: 240px;
    height: 125px;
    background: url(../img/orders-yellow.png) no-repeat;
}

.btn-orders {
    display: block;
    margin-top: 25px;
    margin-bottom: 80px;
    padding-top: 10px;
    width: 140px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.btn-red {
    background-color: #fb565a;
    outline: none;
}

    .btn-red:hover {
        background-color: #d6494d;
    }

    .btn-red:active {
        background-color: #b63538;
    }

.btn-green {
    background-color: #00ca74;
    outline: none;
}

    .btn-green:hover {
        background-color: #01a25e;
    }

    .btn-green:active {
        background-color: #009053;
    }

.btn-yellow {
    background-color: #efc84a;
    outline: none;
}

    .btn-yellow:hover {
        background-color: #d6ae2c;
    }

    .btn-yellow:active {
        background-color: #c09b24;
    }



/*=====     ПРОМО БЛОК      =====*/

.promo-block {
    margin-top: 60px;
}

.text-promo {
    margin-bottom: 46px;
}

.left-column {
    float: left;
    width: 580px; 
}

.left-column h2 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 18px;
}

.left-column p {
    margin: 0;
    color: #283136;
}

.left-column h4,
.right-column h4 {
    margin-top: 0;
    color: #283136;
    text-transform: uppercase;
}

.right-column {
    float: right;
    width: 240px;
}


.list-promo {
    margin-top: 27px;
    margin-bottom: 65px;
    padding-left: 0;
    list-style: none;
}

.list-promo li {
    position: relative;
    margin-bottom: 23px;
    padding-left: 35px;
    color: #283136;
}

.list-promo li:before{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: block;
    margin-right: 10px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
    vertical-align: middle;
}



/*=====     ПАРТНЕРЫ      ===================================*/

.partners-block {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}


.partners-block a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 100px;
    width: 220px;
    height: 165px;
    opacity: 0.2;
}
.partners-block a:last-child {
    margin-right: 0;
}

.partners-block a:hover {
    opacity: 1;
}

.partners-block a:active {
    opacity: 0.8;
}

.partners-block .partner-1 {
    display: inline-block;
    background: url(../img/partners-block-glukhanko.png) no-repeat center;
}

.partners-block .partner-2 {
    display: inline-block;
    background: url(../img/partners-block-academy.png) no-repeat center;
}

.partners-block .partner-3 {
    display: inline-block;
    background: url(../img/partners-block-borodinski.png) no-repeat center;
}




/*=====     КАРТА     =====*/

.map {
    position: relative;
    margin: 80px auto 70px;
    min-height: 420px;
    width: 100%;
    height: 420px;
    background: #e9e5dc url(../img/map-back.jpg) no-repeat center;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.our-contacts {
    position:absolute;
    top:90px;
    left:50%;
    z-index:10;
    margin-left:-440px;
    padding:24px 20px;
    min-height: 192px;
    width:210px;
    background:#fff;
}

.btn-write-us {
    position:absolute;
    bottom:31px;
    left:22px;
    display: block;
    padding: 10px;
    width: 184px;
    border-radius: 3px;
    color: #fff;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    font-size:12px;
}

.our-contacts h4 {
    margin: 2px 0;
}

.our-contacts p {
    margin-bottom: 20px;
    color: #666666;
    font-size: 16px;
    line-height: 20px;
}



/*=====     ФУТЕР     ====================================*/

.footer-align a {
    position: relative;
    float: left;
    margin-right: 24px;
    margin-left: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #eee;
    color:#fff;
}

.footer-align a:last-child {
    margin-right: 30px;
}

.footer-align a:hover {
    background-color: #fb565a;
}

.footer-align a:active {
    background-color: #d6494d;
    box-shadow: inset 0 3px 0 0 #b74246 ;
}

.icon-vk {
    position: absolute;
    top: 20px;
    left: 13px;
    font-size: 23px;
    line-height: 23px;
}

.icon-instagramm {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 23px;
    line-height: 23px;
}

.icon-facebook {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 23px;
    line-height: 23px;
}


.footer-text-block {
    float: right;
    margin-right: 12px;
    min-height: 80px;
    width: 550px;
}

.footer-text-block h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
}
.footer-text-block p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
}




/*========================     POPUP     =====*/


.popup {
/*    display:none;*/
    position: fixed;    
    top: 50%;
    left: 50%;
    z-index: 700;
    padding: 45px 70px;
    min-height: 320px;
    width: 490px;
    background: #fff;
    box-shadow: 0px 0px 30px #a7a7a7;
    transform: translate(-50%,-5000px);
    transition: transform 2s ease-in;
}

.popup.opened {
    transform: translate(-50%,-50%);
}

.popup-form label {
    font-size:16px;
    line-height:18px;
    margin-left: 11px;
}

.form-column-container {
    margin-bottom: 5px; 
}

.form-column-left {
    float: left;
    padding: 5px 0;
}

.form-column-right {
    float: left;
    padding: 5px 0;
}


.popup-form input[type="text"],
.popup-form input[type="email"],
.popup-form input[type="submit"],
.btn-reset{
    display: block;
    margin: 11px;
    padding: 8px 10px;
    width: 195px;
    outline: none;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.popup-form textarea {
    margin-bottom: 23px;
    margin-top: 7px;
    padding: 10px 18px;
    width: 420px;
    height: 90px;
    border: 2px solid #d7dcde; 
    background-color: #fff;
    color: #000;
    resize: none;
    border-radius: 3px;
    margin-left: 10px;
}

.popup-form input[type="submit"] {
    padding: 8px 0;
    width: 220px;
    border: 2px solid #fb565a;
    border-radius: 3px;
    background: #fb565a;
    color: #fff;
}

.popup-form input[type="submit"]:hover {
    border-color: #d6494d;
    background: #d6494d;
}

.popup-form input[type="submit"]:focus {
    border-color: #b63538;
    border-top-color: #9b2d30;
    background: #b63538;
}

.btn-reset {
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    background: #f1f1f1;
    text-decoration: none;
    display: inline-block;
/*    padding: 10px;*/
    text-align: center;
}

.btn-reset:hover {
    border-color: #e5e5e5;
    background: #e5e5e5;
}

.btn-reset:active {
    border-color: #d5d5d5;
    border-top-color: #b5b5b5;
    background: #d5d5d5;
}

.popup-close {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fb565a;
    position: absolute;
    right: 5px;
    top: 5px;
    text-indent: 100%;
    overflow: hidden;
}

.popup-close::before,
.popup-close::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    width: 26px;
    height: 5px;
    border-radius: 2px;
    transform: rotate(45deg);
    left: 8px;
    top: 18px;
    
}

.popup-close::after {
    transform: rotate(-45deg);
}

textarea[placeholder],
input[placeholder] {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    
}
.popup-form input[type="text"]:hover,
.popup-form input[type="email"]:hover,
.popup-form textarea:hover {
    border-color:#a2a9ac;
}

.popup-form input[type="text"]:focus,
.popup-form input[type="email"]:focus,
.popup-form textarea:focus {
    border-color:#56bffb;
}




/*=====     КАТАЛОГ     =====*/

.catalog-title {
    padding: 60px 50px 0px 40px ;
    min-height: 180px;
    width: 660px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}





/*=====     ФИЛЬТР КАТАЛОГА     ===========================*/

.filters {
    float: left;
/*    margin-right: 30px;  */
    margin-top: 60px;
    width: 240px;
    height: 1070px;
}

.filters-title {
    margin-bottom: 13px;  
    text-transform: uppercase;
    font-size: 18px;     
    line-height: 30px;
}

.radio-filters,
.check-filters {
    margin-bottom: 13px;
    color: #283136;
    font-size: 16px;
    line-height: 20px;
}

.check-title {
    margin-top: 36px;
    margin-bottom: 5px;
}

.radio-title {
    margin-bottom: 7px;
}

.filters label {
    display: block;
    padding: 10px 0;
    vertical-align: middle;
    font-size: bold;
    color: #283136;
}

.filters label:hover {
    color: #000;
}

.check-filters input[type="checkbox"] {
    display: none;
}

.check-filters input[type="checkbox"] + label {
    display: block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;    
    cursor: pointer;
}

.check-filters input[type="checkbox"] + label:before {
    display: inline-block;
    margin-right: 13px;
    color: #c1c1c1;
    content: "\2610";
    vertical-align: top;
    font-size: 26px;
    font-family: "symbols-nerds";
}

.check-filters input[type="checkbox"]:checked + label:before {
    margin-right: 9px;
    content: "\2611";
}


.radio-filters input[type="radio"] {
    display: none;
}

.radio-filters input[type="radio"] + label {
    display: block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;    
    cursor: pointer;
}

.radio-filters input[type="radio"] + label:before {
    display: inline-block;
    margin-right: 10px;
    color: #c1c1c1;
    content: "\25cb";
    vertical-align: top;
    font-size: 26px;
    font-family: "symbols-nerds";
}

.radio-filters input[type="radio"]:checked + label:before {
    margin-right: 10px;
    content: "\25cf";
}

.radio-filters input[type="radio"] + label:hover::before,
.check-filters input[type="checkbox"] + label:hover::before {
    color: #b5b5b5;
}

.radio-filters input[type="radio"]:disabled + label::before,
.check-filters input[type="checkbox"]:disabled + label::before {
    color: #eaeaea; 
}

.radio-filters input[type="radio"]:disabled + label,
.check-filters input[type="checkbox"]:disabled + label {
    color: #bdbfc0;
}


.range-filter{
    margin: 0px auto;
    width: 240px;
}

.range-controls{
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 30px;
    padding-left: 30px;
    height: 41px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.range-controls .scale{
    height: 2px;
    background-color: #d7dcde;
}

.bar{
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: #00ca74;
}

.range-controls .toggle{
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .min-toggle{
    left: 20px;
}

.range-controls .max-toggle{
    left: 160px;
}

.price-controls{
    margin-bottom: 44px;
    text-transform: uppercase;
    white-space: nowrap;
}

.price-controls input{
    margin-left: 7px;
    padding: 8px 10px;
    width: 60px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #283136;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 22px;
}

.price-controls .min-price{
    margin-right: 6px;
}

.filters-button {
    margin-top: 48px;
    width: 155px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}





/*======================================== GREY BTN =======*/

.grey-btn {
    background-color: #f1f1f1;
    outline: none;
}

.grey-btn:hover {
    background-color: #e5e5e5;
}

.grey-btn:active {
/*    padding-bottom: 4px;*/
/*    border-top: 3px solid #b5b5b5;*/
    background-color: #d5d5d5;
}




.grey-btn:active, 
.btn-red:active,
.btn-green:active,
.btn-yellow:active {
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.2);
}





/*=====     КОНТЕНТ     =====*/

.content {
    float: right;
    min-height: 1070px;
    width: 564px;
}

.sorting {
    position: relative;
    margin-top: 84px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.sorting ul {
    margin: 0;
    padding: 0;
    float: left;
    max-width: 560px;
}

/*
.sorting-items {
    padding-left: 0;
    width: 420px;
}
*/



.sorting-items a {
    color: #c1c1c1;
    text-decoration: none;
    border-bottom: 1px dotted #00ca74;
    
}

.sorting-items a:hover {
    border-bottom: 1px solid #00ca74;
    color: #000;
}

.sorting-items a:active {
    border-bottom: none;
    color: #000;
}

.sorting-items .checked-item {
    color: #000;
    border-bottom: none;
}

.sorting-items li {
    display: inline-block;
/*    margin-right: 35px;*/
    margin: 0 40px 0 0;
/*    padding: auto 5px;*/
    padding: 0;
    list-style-type: none;
    vertical-align: top;
    text-decoration: none;
    
}

.sorting-items li:last-child {
    margin-right: 0;
}

.sorting-btn {
    float: right;
    position: relative;
    width: 10px;
    height: 20px;
    font-size: 23px;
    line-height: 23px;
    text-decoration: none;
    margin-top: -5px;
    margin-left: 2px;
}

.icon-up-dir,
.icon-down-dir {
    color: #c1c1c1;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
    color: #b5b5b5;
}

.icon-up-dir:active,
.icon-down-dir:active {
    color: #000;
}

.icon-down-dir:before {
    position: absolute;
    top: 0;
    left: 0; 
    width: 10px;
    margin: 0;
}

.icon-down-dir{
    margin-right: 5px;
}

.icon-up-dir:before {
    position: absolute;
    top: 0;
    left: 0px;
    width: 10px;
    margin: 0;
}

.checked-btn:before {
    color: #00ca74;
}



.item {
    position:relative;
    display:inline-block;
    margin:0 80px 80px 0;
    width:240px;
    height:240px;
    border-top: 30px solid #ccc;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background:#f1f1f1;
}

.item:hover{
    border-top: 30px solid #797979;
    transition: 0.5s;
}

.dots,
.dots:before,
.dots:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    content: "";
}

.dots {
    top: -22px;
    left: 29px;
}

.dots:before {
    top: 0;
    left: -17px;
}

.dots:after {
    top: 0;
    left: 17px;
}


.item:nth-child(2n+1) {
    margin-right: 0;
}

.item-info {
    position:absolute;
/*    display:none;*/
    top: 20px;
    left: 22px;
    padding: 30px;
    width: 140px;
    height: 140px;
    background: #fff;
    text-align: center;
    opacity: 0;
}

.item:hover .item-info {
/*    display: block;*/
    transition: 0.5s;
    opacity: 1;
}



.item-title {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 13px;
    padding: 0;
    width: 140px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size:18px;
    line-height:20px;
}

.item-info p {
    margin: 0;
/*    padding: 10px 0;*/
    max-height:52px;
    font-size:14px;
    line-height:18px;
}

.button-action {
    position:absolute;
    bottom:30px;
    left:28px;
    display: block;
    padding: 7px 10px;
    width: 120px;
    border-radius: 3px;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:500;
    font-size:18px;
}




.page-button {
    font-size: 12px;
    line-height: 18px;  
}

.page-content {
    display: inline-block;
    margin-right: 4px;
    padding: 10px 17px;
    border: 0;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #000;
    vertical-align: middle;
    text-decoration: none;   
    text-transform: uppercase;
}

.page-content:last-child {
    padding: 10px 30px;
}

.page-button span {
    padding: 7px 14px;
    border: 3px solid #f1f1f1;
    border-radius: 3px;
    background-color: #fff;
}

.page-button a:hover {
    background-color: #e5e5e5;
}

.page-button a:active {
    padding-top: 7px;
    padding-bottom: 10px;
    border-top: 3px solid #b5b5b5;
    background-color: #d5d5d5;
}





